<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="../css/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <button class="btn btn-secondary opacity-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        MENU
      </button>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="../index.html"
            >Home</a
          >
        </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/test.html">Test</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mysite-bice.vercel.app/">PB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/components/about.html">about</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>



<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title opacity-50 small" id="staticBackdropLabel">what is real will prosper?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <h2>Salom!</h2>
      <p class="opacity-40">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni sapiente voluptate soluta deleniti possimus, non aliquid at dolor officia sit, eveniet alias, ratione culpa ducimus! Deserunt eius eligendi voluptate animi!
        Saepe illo vel reprehenderit recusandae quam dignissimos repudiandae optio nam ipsa eaque. Illum, aliquam neque. Ea eaque qui veniam nobis facilis corporis ducimus nemo voluptas dolores, reiciendis repellendus, labore facere?
        Porro, nulla officia explicabo minus incidunt aut hic accusantium odio perspiciatis accusamus inventore consequuntur atque delectus ipsum officiis provident sed quas cumque consequatur repudiandae similique suscipit, temporibus odit vel. Facere?
        Debitis consequatur vero tempora dolores dignissimos quam cupiditate nobis similique ipsam, nulla repellendus, quod temporibus modi enim voluptate? Adipisci, quos veniam voluptatem officiis dolor maiores voluptates molestias esse accusantium rem.
      </p>
    </div>
  </div>
</div>

<!-- card -->
<div class="card-group p-2">
  <div class="card p-2">
    <img src="https://hvwg.org/wp-content/uploads/2015/12/ReadingBooks.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ancient books</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card p-2">
    <img src="https://jooinn.com/images/old-book-16.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Middle age books</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card p-2">
    <img src="https://jooinn.com/images/old-book-16.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">old Fashion books</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="https://blog.woobox.com/wp-content/uploads/hotel-and-travel-contest-ideas-woobox-2.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Columns with stretched link</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>




    <script src="../js/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
